parameters:
	excludes_analyse:
		- ../../../src/ShareSpace/Application/Symfony/Container/SymfonyExtension.php
		- ../../../src/ShareSpace/Application/Symfony/Kernel.php
		- ../../../src/ShareSpace/Infrastructure/Http/Exception/FlattenException.php
